[submodule "frontend"]
    path = frontend
    url = https://github.com/Rajan21252125/ERPSystem.gitfrontend.git
[submodule "backend"]
    path = backend
    url = https://github.com/Rajan21252125/ERPSystem.gitbackend.git
